![](https://www.seriesanime.xyz/wp-content/uploads/2019/11/pulgar-arriba-naruto-480x270.jpg)

In [ ]:
import pandas as pd

Los dataset se encuentran en el siguiente link:
[Link Dataset](https://github.com/Tomtechno/DataScience-Coder)

***
# First DataFrame
***

De acuerdo con la World Hearth Organization (WHO) los accidentes cerebrovasculares son la segunda mayor causa de muertes en el mundo y es el responsable del 11% de las mismas. Con este dataset se busca predecir si una persona padecerá de un accidente cerebrovascular dadas ciertas características nombradas a continuación.

In [ ]:
# This is a Stroke Healthcare dataset
url = 'https://raw.githubusercontent.com/Tomtechno/DataScience-Coder/main/healthcare_dataset_stroke_data.csv?token=GHSAT0AAAAAABZIXNY2WR7BMS3FHJQTD5KUY25MXPQ'
df1 = pd.read_csv(url, index_col='id')
df1.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
print('# Rows:    ',df1.shape[0])
print('# Columns: ',df1.shape[1])
df1.info()

# Rows:     5110
# Columns:  11
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5110 entries, 9046 to 44679
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 479.1+ KB

Considero importante a los atributos


*   gender - Género del paciente.
*   age - Edad del paciente.
*   hypertension - 0 si el paciente no tiene hipertensión. 1 si el paciente tiene hipertensión.
*   heart_desease - 0 si el paciente no tiene enfermedades en el corazón. 1 si el paciente tiene enfermedades en el corazón.
*   residence_type - Lugar de residencia (rural o ciudad).
*   avg_glucose_level - Nivel medio de glucosa en sangre.
*   bmi - Índice de masa corporal. Peso en kg (kilogramos) / altura en m (metros). 
*   smoking status - Indica la relación del paciente con el tabaco. (smokes -	formerly smoked - never smoked).

***
# Second DataFrame
***

Con este dataset se busca reducir el fraude en los pagos de los seguros médicos. Al evitar este tipo de fraudes se puede destinar estos recursos a mejorar la calidad de la salud en la sociedad. Esto también ayuda a evitar muertes y a bajar el costo de los seguros médicos.                            Se considera utilizar algoritmos no supervisados como el clustering para identificar comportamientos anómalos a la hora de asignar recursos en los seguros médicos y asi evitar fraudes.

In [ ]:
# This is a Healthcare providers dataset
url = 'https://raw.githubusercontent.com/Tomtechno/DataScience-Coder/main/healthcare_providers.csv?token=GHSAT0AAAAAABZIXNY25EG45OTL46CR4V5OY25PYGA'
df2 = pd.read_csv(url)
df2.head()

,index,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,8774979,1891106191,UPADHYAYULA,SATYASREE,NaN,M.D.,F,I,1402 S GRAND BLVD,FDT 14TH FLOOR,...,99223,"Initial hospital inpatient care, typically 70 ...",N,27,24,27,200.58777778,305.21111111,157.26222222,160.90888889
1,3354385,1346202256,JONES,WENDY,P,M.D.,F,I,2950 VILLAGE DR,NaN,...,G0202,"Screening mammography, bilateral (2-view study...",N,175,175,175,123.73,548.8,118.83,135.31525714
2,3001884,1306820956,DUROCHER,RICHARD,W,DPM,M,I,20 WASHINGTON AVE,STE 212,...,99348,"Established patient home visit, typically 25 m...",N,32,13,32,90.65,155,64.4396875,60.5959375
3,7594822,1770523540,FULLARD,JASPER,NaN,MD,M,I,5746 N BROADWAY ST,NaN,...,81002,"Urinalysis, manual test",N,20,18,20,3.5,5,3.43,3.43
4,746159,1073627758,PERROTTI,ANTHONY,E,DO,M,I,875 MILITARY TRL,SUITE 200,...,96372,Injection beneath the skin or into muscle for ...,N,33,24,31,26.52,40,19.539393939,19.057575758

In [ ]:
print('# Rows:    ',df2.shape[0])
print('# Columns: ',df2.shape[1])
df2.info()

# Rows:     100000
# Columns:  27
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                                                    Non-Null Count   Dtype
---  ------                                                    --------------   -----
 0   index                                                     100000 non-null  int64
 1   National Provider Identifier                              100000 non-null  int64
 2   Last Name/Organization Name of the Provider               100000 non-null  object
 3   First Name of the Provider                                95745 non-null   object
 4   Middle Initial of the Provider                            70669 non-null   object
 5   Credentials of the Provider                               92791 non-null   object
 6   Gender of the Provider                                    95746 non-null   object
 7   Entity Type of the Provider                               100000 non-null  object
 8   Street Address 1 of the Provider                          100000 non-null  object
 9   Street Address 2 of the Provider                          40637 non-null   object
 10  City of the Provider                                      100000 non-null  object
 11  Zip Code of the Provider                                  100000 non-null  float64
 12  State Code of the Provider                                100000 non-null  object
 13  Country Code of the Provider                              100000 non-null  object
 14  Provider Type                                             100000 non-null  object
 15  Medicare Participation Indicator                          100000 non-null  object
 16  Place of Service                                          100000 non-null  object
 17  HCPCS Code                                                100000 non-null  object
 18  HCPCS Description                                         100000 non-null  object
 19  HCPCS Drug Indicator                                      100000 non-null  object
 20  Number of Services                                        100000 non-null  object
 21  Number of Medicare Beneficiaries                          100000 non-null  object
 22  Number of Distinct Medicare Beneficiary/Per Day Services  100000 non-null  object
 23  Average Medicare Allowed Amount                           100000 non-null  object
 24  Average Submitted Charge Amount                           100000 non-null  object
 25  Average Medicare Payment Amount                           100000 non-null  object
 26  Average Medicare Standardized Amount                      100000 non-null  object
dtypes: float64(1), int64(2), object(24)
memory usage: 20.6+ MB

0                             Internal Medicine
1                       Obstetrics & Gynecology
2                                      Podiatry
3                             Internal Medicine
4                             Internal Medicine
                          ...
99995    Physical Therapist in Private Practice
99996                        Nurse Practitioner
99997                                Cardiology
99998                         Internal Medicine
99999    Physical Therapist in Private Practice
Name: Provider Type, Length: 100000, dtype: object

Considero importante a los atributos:


*   Gender of the Provider - Género del proveedor.
*   Entity Type of the Provider - 'I' si es un individuo. 'O' si es una organización.
*   Country Code of the Provider - Código de país según el NPPES (National Plan & Provider Enumeration System).
*   HCPCS Drug Indicator - Tipo de proveedor.
*   Number of Services - Cantidad de servicios provistos.
*   Number of Medicare Beneficiaries - Cantidad de beneficiarios recibiendo el servicio.
*   Average Medicare Allowed Amount - Cantidad de seguro médico permitido medio. 
*   Average Medicare Payment Amount - Cantidad de seguro médico abonado medio.
*   Average Medicare Standardized Amount - Desviación estandar de cantidad de seguro médico.

***
# Third DataFrame
***

Las enfermedades y los problemas en el corazón afectan a una gran parte de la sociedad. Nos afectan a nosotros ya sea de forma directa o a nuestros familiares o amigos. Este dataset pertenece al BRFSS 2015 (Behavioral Risk Factor Surveillance System). Se busca predecir si un individuo presenta problemas en el corazón teniendo en cuentas distintas características nombradas mas abajo. Se busca utilizar una clasificación binaria.

In [ ]:
# This is a Heart Desease dataset
url = 'https://raw.githubusercontent.com/Tomtechno/DataScience-Coder/main/heart_disease_health_indicators_BRFSS2015.csv?token=GHSAT0AAAAAABZIXNY35I43NJ2BCJG2S7EYY25QKGQ'
df3 = pd.read_csv(url)
df3.head()

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [ ]:
print('# Rows:    ',df3.shape[0])
print('# Columns: ',df3.shape[1])
df3.info()

# Rows:     253680
# Columns:  22
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   HeartDiseaseorAttack  253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   Diabetes              253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

Considero importante a los atributos:


*   HeartDiseaseorAttack - 1 si el individuo tiene problemas al corazón. 0 no tiene problemas al corazón.
*   HighBP - 1 si el individuo tiene presion sanguínea alta. 0 no tiene presion sanguínea alta.
*   HighChol - 1 si el individuo tiene colesterol. 0 si no tiene colesterol.
*   CholCheck - 1 si el individuo tiene un chequeo de colesterol en los ultimos 5 anios. 0 si no tiene chequeo.
*   BMI - Lugar de residencia (rural o ciudad).
*   Smoker - 1 si el individuo fumo al menos 100 cigarrillos. 0 si no lo hizo.
*   Stroke - 1 si el individuo fue diagnosticado con dolores de cabeza. 0 si no fue diagnosticado.
*   Diabetes - 1 si el individuo fue diagnosticado con diabetes. 0 si no fue diagnosticado.
*   PhysActivity - 1 si el individuo hizo actividad física en los ultimos 30 dias. 0 si no hizo.
*   Fruits - 1 si el individuo consume al menos 1 fruta por dia. 0 si no lo hace.
*   Veggies - 1 si el individuo consume al menos 1 verdura por dia. 0 si no lo hace.
*   HvyAlcoholConsump - 1 si es hombre y consume mas de 14 vasos de alcohol por semana o si es mujer y consume mas de 7 vasos de alcohol por semana. 0 sino lo hacen.
*   GenHlth - Nivel de actividad fisica.
*   MentHlth - Cantidad de dias con problemas mentales en este ultimo mes.
*   PhysHlth - Cantidad de dias con problemas físicos en este ultimo mes.
*   DiffWalk - 1 si tiene problemas al caminar. 0 si no.
*   Sex - Nivel medio de glucosa en sangre.
*   Age - Nivel medio de glucosa en sangre.
*   Education - Nivel medio de glucosa en sangre.
*   Income - Nivel medio de glucosa en sangre.